<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook - All Recipes</title>
</head>

<body>
  <h1>GravanosCookBook</h1>

  <form action="{{ url_for('set_user') }}" method="post" style="display: inline;">
      <label for="user_id">Select a user: </label>
      <select name="user_id" id="user_id" onchange="this.form.submit()">
          <option value="">-- None --</option>
          {% for user_id, displayname in users.items() %}
              <option value="{{ user_id }}" {% if user_id == session.get('user_id', '') %}selected{% endif %}>
                  {{ displayname }}
              </option>
          {% endfor %}
      </select>
  </form>

  <span>
      {% if session.get('user_id') %}
          Current user is {{ users[session['user_id']] }}
      {% else %}
          No user selected.
      {% endif %}
  </span>

  <h2>All Recipes</h2>

  {% if recipes %}
  <form action="{{ url_for('filter_recipes', context='all') }}" method="get">
    <h3>Filter recipes by</h3>
    
    <label>Calories:</label>
    <select name="calories" multiple>
        <option value="less200">Less than or equal to 200</option>
        <option value="200to400">200 to 400</option>
        <option value="400to600">400 to 600</option>
        <option value="600to800">600 to 800</option>
        <option value="more800">More than or equal to 800</option>
    </select>

    <label>Total Time:</label>
    <select name="totaltime" multiple>
        <option value="less30">Less than or equal to 30 min</option>
        <option value="30to60">30 min to 1 hr</option>
        <option value="60to120">1 hr to 2 hr</option>
        <option value="more120">More than or equal to 2 hr</option>
    </select>

    <br>

    <label>Aggregated Rating:</label>
    <input type="checkbox" name="aggregatedrating" value="true"> Descending Order

    <label>, Sugar:</label>
    <input type="checkbox" name="sugar" value="true"> Ascending Order
 
    <button type="submit">Apply Filters</button>
  </form>

    <table>
        <tr>
        <th>Recipe Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Total Time</th>
        <th>Aggregated Rating</th>
        <th>Calories</th>
        <th>Sugar (grams)</th>
        </tr>
    
        {% for recipe_id, recipe in recipes.items() %}
        <tr>
        <td><a href="/recipe/{{ recipe_id }}">{{ recipe.recipename }}</a></td> 
        <td>{{ recipe.displayname }}</td> 
        <td>
            {% for category_name, category_id in recipe.categories %} <!-- recipe.categories = [(CategoryName, CategoryID)] -->
              <a href="{{ url_for('category', category_id=category_id) }}">{{ category_name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
        <td>{{ recipe.totaltime }}</td>
        <td>{{ "{:.1f}".format(recipe.aggregatedrating) }}</td>
        <td>
            {% if recipe.calories %}
                {{ recipe.calories }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% if recipe.sugar %}
                {{ recipe.sugar }}
            {% else %}
                N/A
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>There are no recipes added to GravanosCookBook.</p>
  {% endif %}
  
  <h3><a href="/">Go to main page</a></h3>

</body>

</html>