<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook - Bookmark </title>
</head>

<body>
  <h1>GravanosCookBook</h1>

  <h2>Bookmark</h2>

  <p>{{ message }}</p>

  <br>

  <p><a href="{{ url_for('view_bookmarks') }}">My Bookmarks</a></p>

  <br>

  <h4><a href="#" onclick="goBack()">Go to previous page</a></h4>
  
  <script>
  function goBack() {
    if (history.length > 1) {
        history.back();
    } else {
        window.location.href = '/'; 
    }
    }
  </script>

</body>

</html>