<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook - {{categoryname}}</title>
</head>

<body>
  <h1>GravanosCookBook</h1>

  <form action="{{ url_for('set_user') }}" method="post" style="display: inline;">
      <label for="user_id">Select a user: </label>
      <select name="user_id" id="user_id" onchange="this.form.submit()">
          <option value="">-- None --</option>
          {% for user_id, displayname in users.items() %}
              <option value="{{ user_id }}" {% if user_id == session.get('user_id', '') %}selected{% endif %}>
                  {{ displayname }}
              </option>
          {% endfor %}
      </select>
  </form>

  <span>
      {% if session.get('user_id') %}
          Current user is {{ users[session['user_id']] }}
      {% else %}
          No user selected.
      {% endif %}
  </span>

  <h2>{{categoryname}} Recipes</h2>

  {% if recipes %}
  <form action="{{ url_for('filter_recipes') }}" method="get">
    <input type="hidden" name="context" value="category">
    <input type="hidden" name="categoryid" value="{{ categoryid }}">
    <input type="hidden" name="categoryname" value="{{ categoryname }}">

    <h3>Filter recipes by</h3>
    
    <label>Calories:</label>
    <select name="calories" multiple>
        <option value="less200">Less than or equal to 200</option>
        <option value="200to400">200 to 400</option>
        <option value="400to600">400 to 600</option>
        <option value="600to800">600 to 800</option>
        <option value="more800">More than or equal to 800</option>
    </select>

    <label>Total Time:</label>
    <select name="totaltime" multiple>
        <option value="less30">Less than or equal to 30 min</option>
        <option value="30to60">30 min to 1 hr</option>
        <option value="60to120">1 hr to 2 hr</option>
        <option value="more120">More than or equal to 2 hr</option>
    </select>

    <br>

    <label>Aggregated Rating:</label>
    <input type="checkbox" name="aggregatedrating" value="true"> Descending Order

    <label>, Sugar:</label>
    <input type="checkbox" name="sugar" value="true"> Ascending Order
 
    <button type="submit">Apply Filters</button>
  </form>

    <table>
        <tr>
        <th>Recipe Name</th>
        <th>Author</th>
        <th>Total Time</th>
        <th>Aggregated Rating</th>
        <th>Calories</th>
        <th>Sugar (grams)</th>
        </tr>
    
        {% for recipe in recipes %}
        <tr>
        <td><a href="/recipe/{{ recipe[6] }}">{{ recipe[0] }}</a></td> <!-- recipe[0]=RecipeName, recipe[6]=RecipeID -->
        <td><a href="{{ url_for('user_profile', user_id=recipe[7]) }}">{{ recipe[1] }}</a></td> <!-- Author -->
        <td>{{ recipe[2] }}</td> <!-- Total Time -->
        <td>{{ "{:.1f}".format(recipe[3]) }}</td> <!-- Aggregated Rating -->
        <td>
            {% if recipe[4] %}
                {{ recipe[4] }} <!-- Calories -->
            {% else %}
                N/A
            {% endif %}
        </td>
        <td>
            {% if recipe[5] %}
                {{ recipe[5] }} <!-- Sugar (grams) -->
            {% else %}
                N/A
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>There are no matching recipes.</p>
  {% endif %}
  
  <h3><a href="/">Go to main page</a></h3>

</body>

</html>