<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook by Jonghyun (Joann) Lee and Dani Dassum</title>
</head>

<body>
  <h1>Welcome to GravanosCookBook</h1>
  <p>An all-in-one culinary experience for cooking enthusiasts like you!</p>

  <form action="{{ url_for('set_user') }}" method="post">
    <label for="user_id">Select a user: </label>
    <select name="user_id" id="user_id" onchange="this.form.submit()">
        {% for user_id, displayname in users.items() %}
            <option value="{{ user_id }}" {% if user_id == session['user_id'] %}selected{% endif %}>
                {{ displayname }}
            </option>
        {% endfor %}
    </select>
</form>

{% if session['user_id'] %}
    <p>Current user is {{ users[session['user_id']] }}</p>
{% else %}
    <p>No user selected.</p>
{% endif %}

  <form action="{{ url_for('search_results') }}" method="get">
    <label for="search-for">Search for a recipe:</label>
    <select name="search_type" id="search-type">
      <option value="name">Name</option>
      <option value="author">Author</option>
    </select>
    <input type="text" name="query" required>
    <button type="submit">Search</button>
  </form>

  <h2>Recipe Categories</h2>
  <div>
    {% for category in categories %}
    <div><a href="{{ url_for('category', category_id=category[0]) }}">{{ category[1] }}</a></div> <!-- category[0]=CategoryID, category[1]=CategoryName -->
    {% endfor %}
  </div>

  <h2>Top 5 Recipes</h2>
  <div>
    {% for recipe in recipes %}
    <div><a href="/recipe/{{ recipe[3] }}">{{recipe[0]}}</a> by {{recipe[1]}} - Rating: {{recipe[2]}}</div> <!-- {RecipeName} by {Author} - Rating: {AggregatedRating} -->
    {% endfor %}
  </div>

  <h2><a href="recipes">All recipes</a></h2>

</body>

</html>
