<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook</title>
</head>

<body>
  <h1>Welcome to GravanosCookBook</h1>
  <p>An all-in-one culinary experience for cooking enthusiasts like you!</p>

  <h2>Recipe Categories</h2>
  <div>
    {% for category_name in categories %}
    <div>{{category_name}}</div>
    {% endfor %}
  </div>

  <h2>Top 5 Recipes</h2>
  <div>
    {% for recipe in recipes %}
    <div>{{recipe[0]}} by {{recipe[1]}} - Rating: {{recipe[2]}}</div>
    {% endfor %}
  </div>


  <p>View all recipes</p>

  <p>Search for a recipe: </p>

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>

</html>
