<!DOCTYPE html>
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<head>
  <title>GravanosCookBook - {{ recipe.recipename }}</title>
</head>

<body>
  <h1>GravanosCookBook</h1>

  <form action="{{ url_for('set_user') }}" method="post" style="display: inline;">
      <label for="user_id">Select a user: </label>
      <select name="user_id" id="user_id" onchange="this.form.submit()">
          <option value="">-- None --</option>
          {% for user_id, displayname in users.items() %}
              <option value="{{ user_id }}" {% if user_id == session.get('user_id', '') %}selected{% endif %}>
                  {{ displayname }}
              </option>
          {% endfor %}
      </select>
  </form>

  <span>
      {% if session.get('user_id') %}
          Current user is {{ users[session['user_id']] }}
      {% else %}
          No user selected.
      {% endif %}
  </span>

  <h2>{{ recipe.recipename }}</h2>
  <p>Category: 
    {% for category_name, category_id in recipe.categories %} <!-- recipe.categories = [(CategoryName, CategoryID)] -->
        <a href="{{ url_for('category', category_id=category_id) }}">{{ category_name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>

  <p>Aggregated Rating: {{ "{:.1f}".format(recipe.aggregatedrating) }}</p>

  <hr>

  <p>Submitted by {{ recipe.author }} on {{ recipe.datepublished }}</p> <!-- Need to add link to author's profile later-->
  {% if recipe.description %}
    <p>"{{ recipe.description }}"</p>
  {% else %}
  {% endif %}
  <hr>

  <p>Ready In: {{ recipe.totaltime }} (Preparation Time: {{ recipe.preptime }}, Cooking Time: {{ recipe.cooktime }})</p>
  
  
  <p>Servings: 
    {% if recipe.servings %}
        {{ recipe.servings }}
    {% else %}
        N/A
    {% endif %}
  </p>
  <p>Calories: 
    {% if recipe.calories %}
        {{ recipe.calories }}
    {% else %}
        N/A
    {% endif %}
    </p>
  <p>Sugar (grams): 
    {% if recipe.sugar %}
        {{ recipe.sugar }}
    {% else %}
        N/A
    {% endif %}
    </p>

  <hr>

  <h3>Directions</h3>
  {% if recipe.instructions %}
    <p>"{{ recipe.instructions }}"</p>
  {% else %}
    <p>N/A</p>
  {% endif %}

  <h3>Ingredients</h3>
  {% for ingredient_id, ingredient in ingredients.items() %}
      <p>{{ ingredient.itemamount }}
          {% if ingredient.wholefoods %} <!-- Add the link only when ingredient has associated Whole Foods products -->
              <a href="{{ url_for('ingredient', ingredient_id=ingredient_id) }}">{{ ingredient.ingredientname }}</a>
          {% else %}
              {{ ingredient.ingredientname }}
          {% endif %}
      </p>
  {% endfor %}

  <hr>

  <h3>Reviews ({{ recipe.reviewcount }})</h3>
  <h4><a href="{{ url_for('submit_review', recipe_id=recipe.recipeid) }}">Write a review</a></h4>
  {% for reviewnumber, review in reviews.items() %}
    <div>
        <p>Rating: {{ review.rating }}, Written by: {{ review.author }}</p>
        {% if review.content %}
            <p>"{{ review.content }}"</p>
        {% endif %}
        <p>Submitted on {{ review.datesubmitted }}{% if review.datemodified %}, Modified on {{ review.datemodified }}{% endif %}</p>
        {% if session.get('user_id') == review.userid %} <!-- Display Edit link only when current user is author of review -->
            <p><a href="{{ url_for('edit_review', recipe_id=recipe.recipeid, review_number=reviewnumber) }}">Edit</a></p>
        {% endif %}
        <hr>
    </div>
  {% endfor %}

  <h4><a href="/">Go to main page</a></h4>

</body>

</html>
